<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<!--  XML 문서의 유효성체크를 위해 필요 / 
	!DOCTYPE configuration : 해당 문서의 타입은 configuration => 어떤걸로 선언하느냐에 따라 전체를 감싸는 태그가 달라짐
	DTD : 해당 XML문서에  configuration 형식에 맞게 작성되었는지 유효성 체크를 해줌
-->
<configuration>
	
	<!-- setting : mybatis 구동 시 선언할 설정들을 작성하는 영역 -->
	<settings>
		<!-- 예를들어 insert 시 데이터가 존재하지 않을 경우 해당 필드에 null이 담길 수 있는데, -->
		<!-- 만약에 null로 데이터가 전달되어있다면 빈칸이 아닌 null로 인식해라 라는 뜻 (무조건 대문자로 NULL 해야함!!) -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<!-- typeAlias : VO/DTO 클래스들의 풀클래스명을 단순한 클래스명으로 사용하기 위해서 별칭을 등록할 수 있는 영역 -->
	<typeAliases>
		<typeAlias type="com.ye.mybatis.member.model.vo.Member" alias="Member" />
		<typeAlias type="com.ye.mybatis.board.model.vo.Board" alias="Board" />
 		<typeAlias type="com.ye.mybatis.board.model.vo.Reply" alias="Reply" />
	</typeAliases>
	
	<!-- environment : mybatis에서 연동할 DB 정보들을 등록하는 영역 -->
	<environments default="development">
		
		<environment id="development">
			
			<!-- 
				* transactionManager는 JDBC와 MANAGED 둘 중 하나를 선택할 수 있음
				- JDBC : JDBC가 커밋/롤백을 직접 처리하기 위해 사용(수동 commit)
				- MANAGED : 트랜잭션에 대해 직접적인 영향을 행사하지 않는 것 의미(자동 commit)
			 -->
			<transactionManager type="JDBC"/>
			
			<!-- 
				* dataSource는 POOLED와 UNPOOLED 둘 중 하나를 선택할 수 있음 (ConnectionPool 사용여부)
				
				>> ConnectionPool : Connection객체를 담아둘 수 있는 영역
									한번 생성된 Connection 객체를 담아두면 재사용해서 쓸 수 있음
				
				- POOLED : 사용하겠다
				- UNPOOLED : 사용안하겠다.
			 -->			
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="mybatis" />
				<property name="password" value="mybatis" />
			</dataSource>
			
		</environment>
	
	</environments>
	
	<!-- * mapper : 실행할 sql문들을 기록해둔 mapper 파일들을 등록하는 영역 -->
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"></mapper>
		<mapper resource="/mappers/board-mapper.xml"></mapper>
	</mappers>
	

</configuration>